<div>
    <div id="page-content-header" class="navbar-fixed-top flex-container">
        <h1 class="title">App Object Approver on: {{model.host}}</h1>
        <button style="float:right;margin-right:400px;margin-top:20px;" class="lui-button  lui-button--toolbar-inverse" id="help-dialog" ng-click="model.openHelp()">?</button>
    </div>
    <div id="second-header">
        <div id="page-object-buttons" class="lui-bg-inverse">
            <div class="lui-text-inverse" style="display:inline;padding-right:5px;">Filter by: </div>
            <button class=" lui-button btnActive lui-button--inverse object-buttons lui-button--large" ng-class="model.showSheets ? 'lui-button lui-button--inverse btnActive object-buttons lui-button--large' : 'lui-button lui-button--inverse object-buttons lui-button--large'"
                ng-click="model.toggleSheets()">Sheets</button>
            <button class="lui-button lui-button--inverse object-buttons lui-button--large" ng-class="model.showStories ? 'lui-button lui-button--inverse btnActive object-buttons lui-button--large' : 'lui-button lui-button--inverse object-buttons lui-button--large'"
                ng-click="model.toggleStories()">Stories</button>
            <button class="lui-button lui-button--inverse object-buttons lui-button--large" ng-class="model.showBookmarks ? 'lui-button lui-button--inverse btnActive object-buttons lui-button--large' : 'lui-button lui-button--inverse object-buttons lui-button--large'"
                ng-click="model.toggleBookmarks()">Bookmarks</button>
            <button class="lui-button lui-button--inverse object-buttons lui-button--large" ng-class="model.showDimensions ? 'lui-button lui-button--inverse btnActive object-buttons lui-button--large' : 'lui-button lui-button--inverse object-buttons lui-button--large'"
                ng-click="model.toggleDimensions()">Dimensions</button>
            <button class="lui-button lui-button--inverse object-buttons lui-button--large" ng-class="model.showMeasures ? 'lui-button lui-button--inverse btnActive object-buttons lui-button--large' : 'lui-button lui-button--inverse object-buttons lui-button--large'"
                ng-click="model.toggleMeasures()">Measures</button>
            <button class="lui-button lui-button--inverse object-buttons lui-button--large" ng-class="model.showMasterObjects ? 'lui-button lui-button--inverse btnActive object-buttons lui-button--large' : 'lui-button lui-button--inverse object-buttons lui-button--large '"
                ng-click="model.toggleMasterObjects()">Visualizations</button>
        </div>
        <div id="page-content-search">
            <div class="lui-bg-inverse">
                <div class="lui-search lui-search--inverse" style="
    padding-left: 5px;
">
                    <span class="lui-search__search-icon"></span>
                    <input type="text" class="lui-search__input" maxlength="255" spellcheck="false" placeholder="Search" ng-model="searchSheets" />
                    <span class="lui-search__clear-icon" ng-click="searchSheets = null"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="page-content-body">
    <form name="form">
        <div>
            <table class="table table-bordered table-data">
                <colgroup>
                    <col style="width:85px;min-width:85px;max-width:85px;">
                    <col style="width:150px;min-width:100px;max-width:200px;">
                    <col style="width:100px;min-width:100px;max-width:150px;">
                    <col style="width:100px;min-width:100px;max-width:150px;">
                    <col style="width:100px;min-width:100px;max-width:100px;">
                    <col style="width:100px;min-width:100px;max-width:100px;">
                    <col style="width:100px;min-width:150px;max-width:150px;">
                    <col style="width:200px;min-width:150px;max-width:200px;">
                    <col style="width:200px;min-width:150px;max-width:200px;">
                    <col style="width:200px;min-width:150px;max-width:200px;">
                </colgroup>
                <thead>
                    <tr>
                        <th class="column" style="width:85px;min-width:85px;max-width:85px;">Selected</th>
                        <th class="column" ng-repeat="column in model.columnNames | filter: display=true | orderBy: '+colNum'">
                            {{column.friendlyName}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in model.tableRows | filter: searchSheets track by $index">
                        <td class="column">
                            <label class="lui-checkbox">
                                <input name="name" id="row[9]" class="lui-checkbox__input approveUnapprove" type="checkbox" ng-disabled="(row[5]=='Not published') && (row[2]=='sheet' || row[2]=='story') ? true : false" ng-model="row[0]" ng-change="model.setValue(row[0], row[2], row[9], row[4], row[5])"/>
                                <div class="lui-checkbox__check-wrap">
                                    <span class="lui-checkbox__check" ></span>
                                </div>
                            </label>
                        </td>
                        <td class="column" ng-if="!$first" ng-repeat="col in row track by $index" ng-bind-html="col | highlight:searchSheets">
                            {{col}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
<div id="page-content-footer">
    <div id="button-bar">
        <button id="buttonapprove" class="lui-button" ng-class="model.approveButtonValid() ? 'lui-button--toolbar-inverse' : 'lui-disabled'" ng-click="model.approve()">Approve Object</button>
        <button id="buttonunapprove" class="lui-button" ng-class="model.unapproveButtonValid() ? 'lui-button--toolbar-inverse' : 'lui-disabled'" ng-click="model.unapprove()">Un-Approve Object</button>
    </div>
</div>

<div class="frame" style="position: fixed;top:188px;left:250px;bottom:0px;right:0px;overflow-y: auto; " ng-show="model.modal">
    <div class="overlay">
        <div id="imageWrapper" style="width:100%;height:100%;overflow:hidden;margin:auto">

            <div>
                <img id="spin" style="width:40%;height:40%;margin:auto;display:block;overflow:hidden" src="./plugins/objectApprover/data/loader.svg" />
            </div>

        </div>

    </div>
</div>